<?xml version="1.0" encoding="UTF-8"?>
<!--<element>  -->
 <web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<display-name>login-project</display-name>
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>LoginPageUI.jsp</welcome-file>
	    <welcome-file>UserRegistration.jsp</welcome-file>
	</welcome-file-list>
	
<!--	
<servlet>
    <servlet-name>Login</servlet-name> 
    <servlet-class>com.bridgelabz.login.controller.LoginServlet</servlet-class> 
</servlet>
 <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>
 
<servlet>
    <servlet-name>Register</servlet-name> 
    <servlet-class>com.bridgelabz.login.controller.RegisterServlet</servlet-class> 
</servlet>
 <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>

 -->
</web-app>
<!--</element>  -->
